/*以下model*/
body,table,textarea {
    font-family:Comic Sans MS,sans-serif;
    font-size:13px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

/* 自动对中英文进行处理 */
.txt{
	
}

/* 英文字体 */
.en{
	font-family:Comic Sans MS;
    font-size:13px;
}

/* 中文字体 */
.cn{
	font-family:楷体;
    font-size:16px;
}
