<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration PUBLIC 
	"-//LOGGER" 
	"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>


	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="\  %d{yyyy/MM/dd HH\:mm\:ss} %6p %t\:%c\:%L%n%m%n" />
		</layout>
	</appender>

	<appender name="file2" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/log4j/phonebook/log.txt" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="\  %d{yyyy/MM/dd HH\:mm\:ss} %6p %t\:%c\:%L%n%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="warn" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<logger name="com.unlimitedfield" additivity="false">
		<level value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="file2" />
	</logger>

	<!-- 配置包的日志级别
	<logger name="com.unlimitedfield.y.listener" additivity="false">
		<level value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="file2" />
	</logger>-->
	
	<!-- 当然如果需要点对点调试的话
	<logger name="com.unlimitedfield.y.base.DaoSupportImpl" additivity="false">
		<level value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="file2" />
	</logger> -->
	
	<!-- 其他的引入的包等只用warn -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="file2" />
	</root>

</log4j:configuration> 
